body {
    background-image: linear-gradient(to bottom right, #ff71ce, yellow);
    font-family:'Courier New', Courier, monospace;
}

#subhead {
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    font-family: 'Dancing Script', cursive;
    line-height: 34px;
    height: 35px;
    font-size: 80px;
    color: black;
    text-align: left;
}

h2 {
    text-align: center;
}

#outerRect {
    border: 3px solid;
    border-color: white;
    position: static;
    width: 1000px;
    max-width: 80%;
    height: 600px;
    max-height: 100%;
}

#kate {
    width: 20%;
    height: auto;
}

#cannoli {
    width: 30%;
    height: auto;
}

