html { 
    background: linear-gradient(to bottom right, #ff71ce, yellow) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family:'Courier New', Courier, monospace;
}

#subhead {
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    font-family: 'Dancing Script', cursive;
    line-height: 34px;
    height: 35px;
    font-size: 80px;
    color: black;
    text-align: left;
}

h2 {
    text-align: center;
}

#outerRect {
    border: 3px solid;
    border-color: white;
    position: static;
    width: 1000px;
    max-width: 80%;
    height: 600px;
    max-height: 100%;
}

.flex-container {
    display: flex;
    height: 400px;
    align-content: left;
  }

#kate {
    height: 300px;
    width: auto;
}

#cannoli {
    height: 300px;
    width: auto;
}

#hops {
    height: 300px;
    width: auto;
}

#magnolia {
    height: 300px;
    width: auto;
}

